@import "tailwindcss";

@theme {
    --color-accent-50: var(--color-fuchsia-50);
    --color-accent-100: var(--color-fuchsia-100);
    --color-accent-200: var(--color-fuchsia-200);
    --color-accent-300: var(--color-fuchsia-300);
    --color-accent-400: var(--color-fuchsia-400);
    --color-accent-500: var(--color-fuchsia-500);
    --color-accent-600: var(--color-fuchsia-600);
    --color-accent-700: var(--color-fuchsia-700);
    --color-accent-800: var(--color-fuchsia-800);
    --color-accent-900: var(--color-fuchsia-900);
    --color-accent-950: var(--color-fuchsia-950);

    --color-surface-50: var(--color-neutral-50);
    --color-surface-100: var(--color-neutral-100);
    --color-surface-200: var(--color-neutral-200);
    --color-surface-300: var(--color-neutral-300);
    --color-surface-400: var(--color-neutral-400);
    --color-surface-500: var(--color-neutral-500);
    --color-surface-600: var(--color-neutral-600);
    --color-surface-700: var(--color-neutral-700);
    --color-surface-800: var(--color-neutral-800);
    --color-surface-900: var(--color-neutral-900);
    --color-surface-950: var(--color-neutral-950);
}
